footer.footer
    .container
        .footer-content
            span Copyright © 2021 zlata-org.com
            span
                span Created with love by
                a(href="") MantiCore Development