header.header
    .container
        .burger-menu
            img(src="src/images/icons/burger-menu.svg")
            img(src="src/images/icons/close.svg")
        nav.header-nav
            a.header-nav__item(href="") Обо мне
            a.header-nav__item(href="") Преимущества
            a.header-nav__item(href="") Услуги
            a.header-nav__item(href="") Отзывы
            button.default-btn.header-btn(type="button" data-modal="#callback-modal")
                span Перезвоните мне
            .header-socials
                a.header-social(href="" target="_blank")
                    img(src="src/images/icons/facebook.svg")
                    span Facebook
                a.header-social(href="" target="_blank")
                    img(src="src/images/icons/insta.svg")
                    span Instagram
        img.header-logo(src="src/images/logo.svg")
        a.header-phone(href="tel: +380961234567")
            img(src="src/images/icons/phone.svg" class="svg")
            span +38 (096) 123 45 67
        button.default-btn.header-btn(type="button" data-modal="#callback-modal")
            span Перезвоните мне
