#callback-modal.callback-modal
    .modal-body
        .close-modal
        .default-title.modal-title Связаться со мной
        form.contacts-form(action="pos.php" method="post")
            input(type="text" required placeholder="Имя" class="contacts-form__input")
            input(type="tel" required placeholder="Телефон" class="contacts-form__input phone")
            .comment-input
                button(type="submit")
                    img(src="src/images/icons/form-arrow.svg" class="form-btn__img")
                input(type="text" placeholder="Комментарий" class="contacts-form__input")

