#main-section {
  max-height: 1190px;
  height: 100vh;
  margin-bottom: 200px;

  @media screen and(max-width: 768px) {
    padding-top: 102px;
    margin-bottom: 20px;
  }

  @media screen and(max-width: 320px) {
    margin-bottom: 40px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;

    @media screen and(max-width: 768px){
      height: unset;
      margin-bottom: 55px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .default-subtitle {
    opacity: .5;
    margin-bottom: 20px;

    @media screen and(max-width: 768px) {
      margin-bottom: 10px;
    }
  }

  .default-title {
    max-width: 799px;
    text-align: center;
    font-size: 120px;
    margin-bottom: 34px;

    @media screen and(max-width: 768px) {
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 22px;
    }

    @media screen and(max-width: 320px) {
      font-size: 36px;
      line-height: 36px;
    }
  }

  .default-desc {
    max-width: 430px;

    @media screen and(max-width: 768px) {
      text-align: center;
      max-width: unset;
    }
  }

  .social-networks {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 30px;
    left: 80px;

    @media screen and(max-width: 768px){
      display: none;
    }
  }

  .social-network {
    display: flex;
    align-items: center;
    color: #1b1817;

    &:first-child {
      margin-right: 64px;
    }

    img {
      margin-right: 12px;
    }
  }

  .background-image1, .background-image2, .background-image3 {
    position: absolute;
    z-index: -1;

    @media screen and(max-width: 768px) {
      position: static;
    }
  }

  .background-image1, .background-image3 {
    @media screen and(max-width: 768px) {
      width: 60%;
      height: 140px;
    }
  }

  .section-container {
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 50%;
    top: 0;
    max-height: 1190px;
    transform: translateX(-50%);

    @media screen and(max-width: 768px) {
      position: relative;
      left: unset;
      top: unset;
      transform: unset;
      display: flex;
      flex-direction: row;
      max-height: unset;
    }
  }

  .background-image1 {
    left: 0;
    top: 35%;

    @media screen and(max-width: 768px){
      position: absolute;
      top: 0;
    }
  }

  .background-image2 {
    top: 14%;
    right: 0;

    @media screen and(max-width: 768px){
      display: none;
    }
  }

  .background-image3 {
    right: 80px;
    top: 62%;

    @media screen and(max-width: 768px){
      position: absolute;
      right: 0;
      top: -20px
    }
  }

}

#about-section {
  background-color: $primary;
  padding: 72px 0px 100px;

  @media screen and(max-width: 768px) {
    padding: 0px 0px 40px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 200px;

    @media screen and(max-width: 768px) {
      padding-left: 20px;
      display: flex;
      flex-direction: column;
    }
  }

  .section-content {
    max-width: 470px;

    @media screen and(max-width: 768px) {
      max-width: unset;
      order: 1;
    }
  }

  .default-title {
    margin-bottom: 25px;

    @media screen and(max-width: 768px) {
      margin-bottom: 15px;
    }
  }

  .default-subtitle {
    margin-bottom: 25px;
    @media screen and(max-width: 768px) {
      margin-bottom: 15px;
      font-size: 16px;
    }
  }

  .default-desc {
    margin-bottom: 35px;

    @media screen and(max-width: 768px) {
      margin-bottom: 27px;
    }
  }

  .about-img {
    position: absolute;
    top: 52.5%;
    right: 0;
    transform: translateY(-50%);

    @media screen and(max-width: 768px) {
      position: static;
      transform: translateY(-20px);
      width: 100%;
      margin-bottom: 11px;
    }
  }
}

#advantages-section {
  padding-top: 185px;
  padding-bottom: 80px;
  @media screen and(max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .default-title {
    margin-bottom: 78px;

    @media screen and(max-width: 768px) {
      margin-bottom: 19px;
    }
  }

  .advantages-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

    @media screen and(max-width: 768px) {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }

  .advantage-card {
    background-color: $primary;
    padding: 30px;

    @media screen and(max-width: 768px) {
      padding: 20px;
    }
  }

  .advantage-img {
    max-height: 56px;
    width: auto;
    margin-bottom: 20px;

    @media screen and(max-width: 768px) {
      margin-bottom: 12px;
      max-height: 48px;
    }
  }

  .card-title {
    font-family: $monserratSb;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: 25.5px;
    margin-bottom: 7px;
    
    @media screen and(max-width: 768px) {
      margin-bottom: 5px;
    }
  }

  .card-desc {
    font-size: 15px;

    @media screen and(max-width: 768px) {
      font-size: 13px;
    }
  }
}

#services-section {
  padding-top: 80px;
  padding-bottom: 220px;

  @media screen and(max-width: 768px) {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .container {
    padding: 0 210px;

    @media screen and(max-width: 768px) {
      padding: 0 20px;
    }
  }

  .services-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;

    @media screen and(max-width: 768px) {
      grid-template-columns: 1fr;
      grid-gap: 40px;
    }
  }

  .service-card {
    display: flex;
    flex-direction: column;
    &:nth-child(even) {
      transform: translateY(100px);
    }

    &:nth-child(3) {
      transform: translateY(-45px);
    }

    @media screen and(max-width: 768px){
      &:nth-child(even), &:nth-child(3) {
        transform: unset;
      }
    }
  }

  .service-img__wrap {
    margin-bottom: 40px;

    @media screen and(max-width: 768px) {
      margin-bottom: 25px;
    }
  }

  .service-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .default-subtitle {
    font-size: 20px;
    margin-bottom: 20px;

    @media screen and(max-width: 768px){
      margin-bottom: 11px;
      font-size: 15px;
    }
  }

  .default-title {
    font-size: 40px;
    margin-bottom: 15px;

    @media screen and(max-width: 768px) {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }

  .default-desc {
    margin-bottom: 34px;
  }
}

#marquee-section {
  height: 600px;
  overflow: hidden;

  @media screen and(max-width: 768px) {
    height: 250px;
  }
}

#reviews-section {
  padding: 160px 0px 80px;
  
  @media screen and(max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 15px;
    overflow: hidden;
  }

  .container {
    position: relative;
  }

  .default-title {
    margin-bottom: 60px;

    @media screen and(max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  .reviews-slider {
    @media screen and(max-width: 768px) {
      display: none;
    }
  }

  .reviews-slider__pag {
    position: absolute;
    top: 0;
    right: 80px;
    transform: translateY(50%);
    font-size: 24px;
    display: flex;
    align-items: center;

    @media screen and(max-width: 768px) {
      font-size: 18px;
    }
  }

  .slider-pagination {
    margin: 0 50px;
    span {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }

    @media screen and(max-width: 768px) {
      margin: 0;
    }
  }

  .arrow-prev, .arrow-next {
    cursor: pointer;

    svg {
      path {
        transition: all 0.2s ease-in-out;
      }
    }

    &:hover {
      svg {
        path {
          fill: #998a81 !important;
        }
      }
    }

    @media screen and(max-width: 768px) {
      display: none !important;
    }
  }

  .arrow-prev {
    img, svg {
      transform: scale(-1);
    }
  }

  .reviews-slide {
    display: flex;
  }

  .review-card {
    margin-right: 40px;
    background-color: $primary;
    padding: 40px;
    height: 100%;

    &:last-child {
      margin-right: 0;
    }

    @media screen and(max-width: 768px){
      padding: 20px;
      margin-right: 0;
    }
  }

  .review-title {
    font-family: $monserratSb;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: 25.5px;
    margin-bottom: 7px;

    @media screen and(max-width: 768px){
      font-size: 18px;
      margin-bottom: 5px;
    }
  }

  .reviews-slider__sm {
    display: none;
    padding-right: 40px;

    .slick-list {
      overflow: visible !important;
      transform: translateX(-10px);
    }

    .slick-slide {
      padding: 0 10px;
      transform: scale(.9) translateX(-20px);
      transition: transform .3s ease-in-out;

      &.slick-current {
        transform: scale(1) translateX(0px);
      }
    }
    @media screen and(max-width: 768px) {
      display: block;
    }
  }
}

#instagram-section {
  padding-bottom: 80px;
  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .default-title {
    margin-bottom: 68px;
  }

  .instagram-photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media screen and(max-width: 768px) {
      grid-gap: 0px;
    }
  }

  .instafeed__box {
    max-height: 480px;
  }
}

#contacts-section {
  position: relative;
  padding: 80px 0 130px;

  @media screen and(max-width: 768px) {
    overflow: hidden;
    padding: 46px 0 102px;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    height: 100%;
    top: 0;
    width: 50%;

    @media screen and(max-width: 768px) {
      display: none;
    }
  }

  &:before {
    background-color: $primary;
  }

  &:after {
    left: unset;
    right: 0;
    background-color: $brown;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and(max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  .section-content {
    display: flex;
    justify-content: space-between;
    padding-right: 100px;

    &:last-child {
      padding-right: 0;
      padding-left: 100px;
      display: flex;
      flex-direction: column;

      .default-title {
        font-size: 60px;
        margin-bottom: 51px;
        color: #fff;
      }
    }

    @media screen and(max-width: 768px) {
      padding-right: 0;
      order: 2;

      &:first-child {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
      }

      &:last-child {
        order: 1;
        position: relative;
        padding: 30px 0 40px;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: -10%;
          width: 800px;
          height: 100%;
          background-color: $brown;
          z-index: -1;
        }

        .default-title {
          font-size: 36px;
          margin-bottom: 20px;
          text-align: center;
        }
      }
    }
  }

  .contacts-logo {
    width: 84px;
    height: 80px;
    
    @media screen and(max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  .contacts-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 31px;

    @media screen and(max-width: 768px) {
      grid-row-gap: 20px;
    }
  }

  .contacts-nav__label {
    margin-bottom: 8px;
    font-family: $monserratMd;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;

    @media screen and(max-width: 768px) {
      grid-row-gap: 4px;
      font-size: 16px;
    }
  }

  .contacts-nav__item {
    font-size: 15px;
    line-height: normal;
    display: flex;
    align-items: center;
    &:nth-child(odd) {
      grid-column-start: 1;
    }

    &:nth-child(even) {
      grid-column-start: 2;
    }

    img, svg {
      margin-right: 15px;
      width: 20px;
      max-height: 24px;
    }

    span {
      white-space: nowrap;
    }

    @media screen and(max-width: 768px) {
      font-size: 13px;
    }
  }

  .contacts-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 53px 40px;

    @media screen and(max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  .contacts-form__input {
    background-color: unset;
    font-size: 15px;
    color: #fff;
    font-family: $monserratMd;
    padding-bottom: 15px;
    border-bottom: solid 2px #fff;

    &::placeholder {
      opacity: .4;
      color: #fff;
      font-size: 15px;
    }
  }

  .comment-input {
    grid-column: 1/3;
    position: relative;

    .contacts-form__input {
      width: 100%;
    }

    button {
      background-color: unset;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 40%;
      transform: translateY(-50%);
    }
  }

  .form-btn__img {
    &.loading {
      animation: loading 3s ease-in-out infinite;
    }
  }
}