.footer {
  position: relative;
  margin-top: -48.5px;
  z-index: 80;

  @media screen and(max-width: 768px) {
    margin-top: -70.5px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;

    span {
      &:last-child {
        span {
          margin-right: 5px;
        }
        span, a {
          color: #fff;
        }

        a:hover {
          color: #fff !important;
        }
      }
    }

    @media screen and(max-width: 768px) {
      flex-direction: column;
      justify-content: unset;
      align-items: center;

      span {
        &:first-child {
          margin-bottom: 10px;
        }

        &:last-child {
          font-size: 13px;

          span, a {
            color: #2e2926;
          }
        }
      }
    }
  }
}