.header {
  padding: 10px 0px;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 4px 16px -2px rgba(6,28,40,.1);

  @media screen and(max-width: 768px) {
    padding: 15px 0px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .burger-menu {
    display: none;

    @media screen and(max-width: 768px) {
      width: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      img, svg {
        &:last-child {
          display: none;
        }
      }

      &.active {
        img, svg {
          display: none;

          &:last-child {
            display: block;
          }
        }
      }
    }
  }

  .header-nav {
    .header-btn {
      display: none;
    }

    @media screen and(max-width: 768px) {
      position: absolute;
      height: 100vh;
      top: 0;
      width: 100%;
      left: 0;
      background-color: #fff;
      z-index: -1;
      pointer-events: none;
      clip-path: inset(0 0 100% 0);
      transition: all ease-in-out .6s;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &.active {
        clip-path: inset(0 0 0 0);
        pointer-events: all;
      }

      .header-btn {
        display: block;
      }
    }
  }

  .header-nav__item {
    margin-right: 60px;
    color: #2e2926;
    &:last-child {
      margin-right: 0;
    }
    
    @media screen and(max-width: 768px) {
      margin-right: 0;
      margin-bottom: 40px;
      font-family: $loraRg;
      font-size: 32px;
      text-align: center;
    }
  }

  .header-btn {
    @media screen and(max-width: 768px) {
      display: none;
    }
  }

  .header-logo {
    margin: 0 auto;
    transform: translateX(-100%);
    height: 72px;

    @media screen and(max-width: 768px) {
      height: 60px;
      width: auto;
      transform: unset;
    }
  }

  .header-phone {
    margin-right: 60px;
    display: flex;
    align-items: center;
    font-family: $monserratMd;

    &:hover {
      span {
        color: #998a81 !important;
      }
      svg {
        path {
          fill: #998a81 !important;
        }
      }
    }

    img, svg {
      margin-right: 12px;
      path {
        transition: all .2s ease-in-out;
      }
    }

    span {
      color: $brown;
      transition: all .2s ease-in-out;
    }

    @media screen and(max-width: 768px) {
      margin-right: 0;
      span {
        display: none;
      }

      svg, img {
        margin-right: 0;
        height: 32px;
        width: 32px;
      }
    }
  }

  .header-socials {
    display: none;

    @media screen and(max-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 40px;
      left: 0;
      width: 100%;
      padding: 0 50px;
    }
  }

  .header-social {
    display: flex;
    align-items: center;

    img {
      margin-right: 12px;
    }
  }
}