#callback-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .4s ease-in-out;
  pointer-events: none;

  @media screen and(max-width: 768px) {
    padding: 0 20px;
  }

  &:before {
    content: '';
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: .4;
  }

  &.active {
    opacity: 1;
    pointer-events: all;
    .modal-body {
      transform: translateY(0);
    }
  }

  .modal-body {
    position: relative;
    z-index: 1;
    background-color: $brown;
    border: 1px solid #979797;
    padding: 80px 100px 100px;
    width: 840px;
    transform: translateY(40px);
    transition: transform .4s ease-in-out;

    @media screen and(max-width: 768px) {
      width: 100%;
      padding: 30px 20px 40px;
    }
  }

  .contacts-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 53px 40px;

    @media screen and(max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  .contacts-form__input {
    background-color: unset;
    font-size: 15px;
    color: #fff;
    font-family: $monserratMd;
    padding-bottom: 15px;
    border-bottom: solid 2px #fff;

    &::placeholder {
      opacity: .4;
      color: #fff;
      font-size: 15px;
    }
  }

  .comment-input {
    grid-column: 1/3;
    position: relative;

    .contacts-form__input {
      width: 100%;
    }

    button {
      background-color: unset;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 40%;
      transform: translateY(-50%);
    }
  }

  .form-btn__img {
    &.loading {
      animation: loading 3s ease-in-out infinite;
    }
  }

  .modal-title {
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 40px;
    text-align: center;

    @media screen and(max-width: 768px) {
      font-size: 26px;
      margin-bottom: 20px;
    }
  }

  .close-modal {
    height: 25px;
    width: 25px;
    position: absolute;
    right: 25px;
    top: 25px;
    opacity: .7;
    transition: opacity .3s ease-in-out;
    cursor: pointer;

    @media screen and(max-width: 768px) {
      top: 17px;
      right: 18px;
      height: 15px;
      width: 15px;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 2px;
      background-color: #fff;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    &:hover {
      opacity: 1;
    }
  }
}