extends includes/layout

append header
    include includes/header

append content
    main.main
        section#main-section
            .container
                .section-content
                    .default-subtitle Пора навести порядок
                    .default-title Организатор пространства в вашем доме
                    .default-desc Организатор пространства — специалист, который помогает клиентам расстаться с ненужными вещами, а заодно создать индивидуальную систему хранения, чтобы человек мог сам поддерживать порядок в будущем и тратить меньше времени на уборку.
                .social-networks
                    a.social-network(href="" target="_blank")
                        img(src="src/images/icons/facebook.svg" alt="facebook")
                        span Facebook
                    a.social-network(href="" target="_blank")
                        img(src="src/images/icons/insta.svg" alt="instagram")
                        span Instagram
            .container.section-container
                img.background-image1(src="src/images/mainSection/kitchen.jpg" alt="kitchen")
                img.background-image2(src="src/images/mainSection/image2.jpg" alt="chair")
                img.background-image3(src="src/images/mainSection/clothes.jpg" alt="clothes")
        section#about-section
            .container
                .section-content
                    .default-title Обо мне
                    .default-subtitle 20 лет поиска себя
                    .default-desc Именно столько времени мне понадобилось, чтобы найти свое любимое дело. Меня зовут Злата, мне 38 лет - и я сертифицированный организатор пространства. <br><br> Почему именно сейчас? Все просто - профессия в нашей стране появилась только 5 лет назад. Да и общий возраст насчитывает всего около 30 лет. <br><br> Зачем мне это? Счастливая жена и мама 4 дочек я захотела состоятся в любимом деле. Мне приносит удовольствие наблюдать за тем, как меняются дома и жизнь людей, для которых я организовываю.
                    button.default-btn
                        span Задать вопрос
                img.about-img(src="src/images/aboutSection/IMG_7631.jpg" alt="person")
        section#advantages-section
            .container
                .section-content
                    .default-title Преимущества
                    .advantages-cards
                        .advantage-card
                            img.advantage-img(src="src/images/icons/clocks.svg" alt="card icon")
                            .card-title Скорость работы
                            .default-desc.card-desc Почему именно сейчас? Все просто - профессия в нашей стране появилась только 5 лет назад. Да и общий возраст насчитывает всего около 30 лет.
                        .advantage-card
                            img.advantage-img(src="src/images/icons/handshake.svg" alt="card icon")
                            .card-title Индивидуальный подход
                            .default-desc.card-desc  Почему именно сейчас? Все просто - профессия в нашей стране появилась только 5 лет назад. Да и общий возраст насчитывает всего около 30 лет.
                        .advantage-card
                            img.advantage-img(src="src/images/icons/certificate.svg" alt="card icon")
                            .card-title Опыт работы
                            .default-desc.card-desc Почему именно сейчас? Все просто - профессия в нашей стране появилась только 5 лет назад. Да и общий возраст насчитывает всего около 30 лет.
                        .advantage-card
                            img.advantage-img(src="src/images/icons/sofa.svg" alt="card icon")
                            .card-title Моделирование мебели
                            .default-desc.card-desc Почему именно сейчас? Все просто - профессия в нашей стране появилась только 5 лет назад. Да и общий возраст насчитывает всего около 30 лет.
        section#services-section
            .container
                .section-content
                    .services-cards
                        .service-card
                            .service-img__wrap
                                img.service-img(src="src/images/servicesSection/hutomo-abrianto.jpg" alt="hutomo-abrianto")
                            .default-title Онлайн-консультация
                            .default-desc Do you sometimes have the feeling that you’re running into the same obstacles over and over again? Many of my conflicts have the same feel to them, like “Hey, I think I’ve been here before,” but I can’t figure out how I wound up in the same place. The situation is different, but the conflict feels the same. I first read this poem in “The Tibetan Book of Living and Dying” by Sogyal Rinpoche.
                            button.default-btn
                                span Подробнее об услуге
                        .service-card
                            .service-img__wrap
                                img.service-img(src="src/images/servicesSection/hutomo-abrianto2.jpg" alt="hutomo-abrianto")
                            .default-subtitle Организация
                            .default-title Жилых помещений
                            .default-desc Do you sometimes have the feeling that you’re running into the same obstacles over and over again? Many of my conflicts have the same feel to them, like “Hey, I think I’ve been here before,” but I can’t figure out how I wound up in the same place. The situation is different, but the conflict feels the same. I first read this poem in “The Tibetan Book of Living and Dying” by Sogyal Rinpoche.
                            button.default-btn
                                span Подробнее об услуге
                        .service-card
                            .service-img__wrap
                                img.service-img(src="src/images/servicesSection/andrew-barrowman.jpg" alt="hutomo-abrianto")
                            .default-subtitle Организация
                            .default-title Нежилых помещений
                            .default-desc Do you sometimes have the feeling that you’re running into the same obstacles over and over again? Many of my conflicts have the same feel to them, like “Hey, I think I’ve been here before,” but I can’t figure out how I wound up in the same place. The situation is different, but the conflict feels the same. I first read this poem in “The Tibetan Book of Living and Dying” by Sogyal Rinpoche.
                            button.default-btn
                                span Подробнее об услуге
                        .service-card
                            .service-img__wrap
                                img.service-img(src="src/images/servicesSection/sarah-dorweiler.jpg" alt="hutomo-abrianto")
                            .default-subtitle Организация
                            .default-title Коммерческих помещений
                            .default-desc Do you sometimes have the feeling that you’re running into the same obstacles over and over again? Many of my conflicts have the same feel to them, like “Hey, I think I’ve been here before,” but I can’t figure out how I wound up in the same place. The situation is different, but the conflict feels the same. I first read this poem in “The Tibetan Book of Living and Dying” by Sogyal Rinpoche.
                            button.default-btn
                                span Подробнее об услуге
        section#marquee-section
            .section-content
                .section-slider
                    img.slider-img(src="src/images/sliderSection/alyssa-strohmann.jpg" alt="slide")
                    img.slider-img(src="src/images/sliderSection/olga-kozachenko.jpg" alt="slide")
                    img.slider-img(src="src/images/sliderSection/lea-bohm.jpg" alt="slide")
        section#reviews-section
            .container
                .section-content
                    .default-title Отзывы
                    .reviews-slider__pag
                        .arrow-prev
                            img.svg(src="src/images/icons/arrow.svg" alt="prev")
                        .slider-pagination
                            span.current 1
                            span /
                            span.count 10
                        .arrow-next
                            img.svg(src="src/images/icons/arrow.svg" alt="next")
                    .reviews-slider
                        .reviews-slide
                            .review-card
                                .review-title Bobby Williams
                                .default-desc Many people were hoping that if the Democrats won control of Congress they would reverse the online gambling ban, but experts doubt they will even try or that if they do that the will be successful.
                            .review-card
                                .review-title Bobby Williams
                                .default-desc Many people were hoping that if the Democrats won control of Congress they would reverse the online gambling ban, but experts doubt they will even try or that if they do that the will be successful.
                            .review-card
                                .review-title Bobby Williams
                                .default-desc Many people were hoping that if the Democrats won control of Congress they would reverse the online gambling ban, but experts doubt they will even try or that if they do that the will be successful.
                        .reviews-slide
                            .review-card
                                .review-title Bobby Williams
                                .default-desc Many people were hoping that if the Democrats won control of Congress they would reverse the online gambling ban, but experts doubt they will even try or that if they do that the will be successful.
                            .review-card
                                .review-title Bobby Williams
                                .default-desc Many people were hoping that if the Democrats won control of Congress they would reverse the online gambling ban, but experts doubt they will even try or that if they do that the will be successful.
                            .review-card
                                .review-title Bobby Williams
                                .default-desc Many people were hoping that if the Democrats won control of Congress they would reverse the online gambling ban, but experts doubt they will even try or that if they do that the will be successful.
                    .reviews-slider__sm
                        .review-slide
                            .review-card
                                .review-title Bobby Williams
                                .default-desc Many people were hoping that if the Democrats won control of Congress they would reverse the online gambling ban, but experts doubt they will even try or that if they do that the will be successful.
                        .review-slide
                            .review-card
                                .review-title Bobby Williams
                                .default-desc Many people were hoping that if the Democrats won control of Congress they would reverse the online gambling ban, but experts doubt they will even try or that if they do that the will be successful.
                        .review-slide
                            .review-card
                                .review-title Bobby Williams
                                .default-desc Many people were hoping that if the Democrats won control of Congress they would reverse the online gambling ban, but experts doubt they will even try or that if they do that the will be successful.

        section#instagram-section
            .container
                .section-content
                    .default-title Instagram
                    .instagram-photos#instagram-photos
        section#contacts-section
            .container
                .section-content
                    img.contacts-logo(src="src/images/logo.svg" alt="logo")
                    .contacts-nav
                        .contacts-nav__label Разделы
                        .contacts-nav__label Контакты
                        a.contacts-nav__item(href="") Обо мне
                        a.contacts-nav__item(href="tel: +380961234567")
                            img(src="src/images/icons/phone2.svg" class="svg" alt="phone")
                            span +38 (096) 123 45 67
                        a.contacts-nav__item(href="") Преимущества
                        a.contacts-nav__item(href="mailto: zlata-org@gmail.com")
                            img(src="src/images/icons/mail.svg" class="svg" alt="mail")
                            span zlata-org@gmail.com
                        a.contacts-nav__item(href="") Услуги
                        a.contacts-nav__item(href="" target="_blank")
                            img(src="src/images/icons/insta2.svg" class="svg" alt="Instagram")
                            span Instagram
                        a.contacts-nav__item(href="") Отзывы
                        a.contacts-nav__item(href="" target="_blank")
                            img(src="src/images/icons/facebook2.svg" class="svg" alt="Facebook")
                            span Facebook
                .section-content
                    .default-title Связаться со мной
                    form.contacts-form(action="/" method="POST")
                        input(type="text" required placeholder="Имя" class="contacts-form__input")
                        input(type="tel" required placeholder="Телефон" class="contacts-form__input phone")
                        .comment-input
                            button(type="submit")
                                img(src="src/images/icons/form-arrow.svg" alt="form-arrow" class="form-btn__img")
                            input(type="text" placeholder="Комментарий" class="contacts-form__input")

append footer
    include includes/footer

append modal
    include includes/modal.pug


