//FONTS
$monserratRg: 'Montserrat Rg',sans-serif;
$monserratMd: 'Montserrat Md',sans-serif;
$monserratSb: 'Montserrat Sb',sans-serif;
$loraRg: 'Lora Rg',sans-serif;

//Colors
$brown: #baa79b;
$primary: #f6f7f8;