*{
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: unset;
  color: #1b1817;
  padding: 0;
  margin: 0;
}

a {
  transition: all .2s ease-in-out;
  &:hover {
    color: $brown !important;
    span {
      color: $brown !important;
    }
  }

  span {
    transition: all .2s ease-in-out;
  }
}

.default-title {
  font-family: $loraRg;
  font-size: 80px;
  line-height: 1;

  @media screen and(max-width: 768px) {
    font-size: 35px;
  }
}

.default-subtitle {
  text-transform: uppercase;
  font-size: 16px;

  @media screen and(max-width: 768px) {
    font-size: 13px;
  }
}

.default-desc {
  font-size: 15px;
  line-height: 25.5px;

  @media screen and(max-width: 768px) {
    font-size: 13px;
    line-height: 22.5px;
  }
}

.default-btn {
  background-color: $brown;
  padding: 16px 30px 18px;
  cursor: pointer;
  width: fit-content;
  position: relative;

  @media screen and(max-width: 768px) {
    padding: 13px 25px 15px;
  }

  &:before {
    content: '';
    position: absolute;
    background-color: rgba(27, 24, 23, 0.2);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    clip-path: inset(0 100% 0 0);
    z-index: 1;
    transition: all .4s ease-in-out;
  }

  &:hover {
    &:before {
      clip-path: inset(0 0 0 0);
    }
  }

  span {
    color: #fff;
    position: relative;
    z-index: 2;

    @media screen and(max-width: 768px) {
      font-size: 13px;
    }
  }
}

body {
  font-family: $monserratRg;
  font-size: 15px;
  color: #1b1817;
}

html {
  &.active {
    overflow: hidden;
  }
}

.container {
  max-width: 1680px;
  padding: 0px 80px;
  margin: 0 auto;

  @media screen and(max-width: 768px) {
    padding: 0 20px;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}