@font-face {
  font-family: 'Montserrat Rg';
  src: url('/src/fonts/Monserrat/subset-Montserrat-Regular.eot');
  src: url('/src/fonts/Monserrat/subset-Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/Monserrat/subset-Montserrat-Regular.woff2') format('woff2'),
  url('/src/fonts/Monserrat/subset-Montserrat-Regular.woff') format('woff'),
  url('/src/fonts/Monserrat/subset-Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Sb';
  src: url('/src/fonts/Monserrat/subset-Montserrat-SemiBold.eot');
  src: url('/src/fonts/Monserrat/subset-Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/Monserrat/subset-Montserrat-SemiBold.woff2') format('woff2'),
  url('/src/fonts/Monserrat/subset-Montserrat-SemiBold.woff') format('woff'),
  url('/src/fonts/Monserrat/subset-Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Md';
  src: url('/src/fonts/Monserrat/subset-Montserrat-Medium.eot');
  src: url('/src/fonts/Monserrat/subset-Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/Monserrat/subset-Montserrat-Medium.woff2') format('woff2'),
  url('/src/fonts/Monserrat/subset-Montserrat-Medium.woff') format('woff'),
  url('/src/fonts/Monserrat/subset-Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora Rg';
  src: url('/src/fonts/Lora/subset-Lora-Regular.eot');
  src: url('/src/fonts/Lora/subset-Lora-Regular.eot?#iefix') format('embedded-opentype'),
  url('/src/fonts/Lora/subset-Lora-Regular.woff2') format('woff2'),
  url('/src/fonts/Lora/subset-Lora-Regular.woff') format('woff'),
  url('/src/fonts/Lora/subset-Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

